.c-button
    border-radius: 8px
    font-size: 16px
    display: inline-block

    &.\--cta
        background-color: $dark-green
        color: $inverted-text-color
        padding: 9px 20px

    &.\--border
        padding: 7px 20px
        color: $main-text-color
        background-color: $main-bg-color
        border: 2px solid $dark-green
