.c-heading
    font-weight: $bold

    &.\--large
        font-size: 44px
        line-height: 0.9

        &.\--green
            color: $brand-color

        &.\--black
            color: $main-text-color

    &.\--medium
        font-size: 30px
        line-height: 1
        color: $main-text-color

    &.\--brand-color
        color: $brand-color
