<div class="s-footer">
    <div class="l-wrapper">
        <div class="s-footer__grid">
            <div>
                <div class="s-footer__logo-symbol">
                    <img src="{{ site.image_path }}/logo-symbol.svg">
                </div>
                <div class="c-paragraph --inverted u-markdown u-mb+">
                    {{ site.data.footer.company_description | markdownify }}
                </div>
                <div class="s-footer__social-media-links">
                    <a href="{{ site.data.settings.facebook_url }}" target="_blank">
                        <img src="{{ site.image_path }}/icons/social-media/facebook.svg">
                    </a>
                    <a href="{{ site.data.settings.twitter_url }}" target="_blank">
                        <img src="{{ site.image_path }}/icons/social-media/twitter.svg">
                    </a>
                    <a href="{{ site.data.settings.linkedin_url }}" target="_blank">
                        <img src="{{ site.image_path }}/icons/social-media/linkedin.svg">
                    </a>
                </div>
            </div>
            <div>
                <h4 class="s-footer__heading">{{ site.data.footer.links_heading }}</h4>
                <ul class="s-footer__link-list u-mb">
                    {% for item in site.data.navigation %}
                        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="s-footer__link-list">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Voorwaarden</a></li>
                </ul>
            </div>
            <div>
                <h4 class="s-footer__heading">{{ site.data.footer.contact_heading }}</h4>
                <div class="s-footer__address u-markdown u-mb+">
                    {{ site.data.footer.company_address | markdownify }}
                </div>

                <h4 class="s-footer__heading">Nieuwsbrief</h4>
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://sketch2html.us20.list-manage.com/subscribe/post?u=c9e31d27cd5b09610846fe27e&amp;id=2c8aad9422" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <p class="s-footer__newsletter-label" for="mce-EMAIL">Blijf op de hoogte van het laatste nieuws!</p>
                        <div id="mc_embed_signup_scroll" class="s-footer__newsletter-grid">
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="Vul je e-mail adres in" name="EMAIL" class="c-input" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c9e31d27cd5b09610846fe27e_2c8aad9422" tabindex="-1" value=""></div>
                            <div class="clear">
                                <input type="submit" value="Verzenden" name="subscribe" id="mc-embedded-subscribe" class="c-button --cta">
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
        <div class="s-footer__sub-footer">
            {{ site.data.footer.copyright_notice | markdownify }}
        </div>
    </div>
</div>
