{% assign navurl = page.url | remove: 'index.html' %}

<div class="s-header">
    <div class="l-wrapper">
        <div class="s-header__inner">
            <div class="s-header__logo">
                <a href="/">
                    <img src="{{ site.image_path }}/logo.svg">
                </a>
            </div>
            <div class="s-header__mobile-nav-trigger" @click="mobileMenuIsVisible = true">
                <img src="{{ site.image_path }}/icons/hamburger.svg">
            </div>
            <div class="s-header__nav" :class="{ '--active': mobileMenuIsVisible }">
                <button class="s-header__nav-close" @click="mobileMenuIsVisible = false">
                    <img src="{{ site.image_path }}/icons/close-white.svg">
                </button>
                {% for item in site.data.navigation %}
                    {% if item.include_in_desktop_header %}
                        <a class="s-header__nav-link {% if item.url == navurl %}--current{% endif %}" href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        <a class="s-header__nav-link u-hide@desktop {% if item.url == navurl %}--current{% endif %}" href="{{ item.url }}">{{ item.text }}</a>
                    {% endif %}
                {% endfor %}

                <button class="c-button --border" @click="signUpModalVisible = true">Aanmelden</button>
            </div>
        </div>
    </div>
</div>
