<div class="s-map">
    <div class="l-wrapper">
        <h2 class="c-heading --large --green u-align-center u-mb">{{ site.data.map.map_heading }}</h2>
        <div class="u-align-center u-mb+ u-markdown">
            {{ site.data.map.map_text_above_map | markdownify | replace: "<p>", "<p class='c-paragraph u-mb'>" }}
        </div>
    </div>

    <div id="map" class="u-mb+" style="width: 100%; height: 400px; background-color: grey"></div>

    <div class="l-wrapper">
        <div class="u-align-center">
            <h2 class="c-heading --medium u-mb">{{ site.data.map.map_heading_below_map }}</h2>
            <div class="u-markdown">
                {{ site.data.map.map_text_below_map | markdownify | replace: "<p>", "<p class='c-paragraph u-mb'>" }}
              </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
      var center = {lat: 53.249208, lng: 6.451608};
      var locations = [
        {% for location in site.data.map.car_locations %}
            ['{{location.address}}', {{location.lat}}, {{location.long}}, '{{location.car-name}}'],
        {% endfor %}
      ];
    var map = new google.maps.Map(document.getElementById('map'), {

        zoom: {{ site.data.map.zoom_level }},
        center: center
      });
    var infowindow =  new google.maps.InfoWindow({});
    var marker, count;
    for (count = 0; count < locations.length; count++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[count][1], locations[count][2]),
          map: map,
          title: locations[count][0] + " - " + locations[count][3]
        });
    google.maps.event.addListener(marker, 'click', (function (marker, count) {
          return function () {
            infowindow.setContent("<b>" + locations[count][3] + "</b><br>" + locations[count][0]);
            infowindow.open(map, marker);
          }
        })(marker, count));
      }
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtMaNFLROn3HLbR2pZIKdjhIhnH5FB2kI&callback=initMap">
</script>
