<div class="s-map">
    <div class="l-wrapper">
        <h2 class="c-heading --large --green u-align-center u-mb">Waar staan de deelauto's?</h2>
        <div class="u-align-center u-mb+">
            <p class="c-paragraph u-mb+">Hieronder staan alle locaties waar op dit moment deelauto initiatieven zijn gestart. Als je abonnee van EasyDriving bent, kun je een van deze deelauto´s reserveren en gebruiken. Deze eerste deelinitiatieven zijn met succes gestart en we zijn volop bezig om nieuwe initiatieven van de grond te krijgen!</p>
        </div>
    </div>

    <div id="map" class="u-mb+" style="width: 100%; height: 400px; background-color: grey"></div>

    <div class="l-wrapper">
        <div class="u-align-center">
            <h2 class="c-heading --medium u-mb">Bij jou in de buurt nog geen deelauto?</h2>
            <p class="c-paragraph">Als je interesse hebt, stuur dan een e-mail naar info@easy-driving.eu. Als er voldoende interesse is, dan willen wij kijken naar de mogelijkheden om één of meerdere deelauto´s te plaatsen bij jou in de buurt! Op die manier willen wij elke groep geïnteresseerden voorzien van onze duurzame en voordelige deelauto´s.</p>
        </div>
    </div>
</div>

<script>
    function initMap() {
      var center = {lat: 53.300221, lng: 6.603473};
      var locations = [
        {% for location in site.data.settings.car_locations %}
            ['{{location.address}}', {{location.lat}}, {{location.long}}],
        {% endfor %}
      ];
    var map = new google.maps.Map(document.getElementById('map'), {

        zoom: 10,
        center: center
      });
    var infowindow =  new google.maps.InfoWindow({});
    var marker, count;
    for (count = 0; count < locations.length; count++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[count][1], locations[count][2]),
          map: map,
          title: locations[count][0]
        });
    google.maps.event.addListener(marker, 'click', (function (marker, count) {
          return function () {
            infowindow.setContent(locations[count][0]);
            infowindow.open(map, marker);
          }
        })(marker, count));
      }
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtMaNFLROn3HLbR2pZIKdjhIhnH5FB2kI&callback=initMap">
</script>
