<div
    class="s-sign-up__overlay"
    v-show="signUpModalVisible"
    style="display: none"
    @click="signUpModalVisible = false"
></div>

<div class="s-sign-up" v-show="signUpModalVisible" style="display: none">
    <button class="s-sign-up__close" @click="signUpModalVisible = false">
        <img src="{{ site.image_path }}/icons/close.svg">
    </button>
    <h1 class="c-heading --large --green u-align-center u-mb">Aanmelden</h1>

    <div class="js-sign-up-form">
        <form
            action="/#signup"
            name="signup"
            id="signup"
            data-netlify="true"
            method="post"
        >
            <div class="s-sign-up__input-wrapper">
                <input
                    type="text"
                    class="s-sign-up__input"
                    name="naam"
                    id="naam"
                    required
                >
                <label for="naam" class="s-sign-up__label">Naam</label>
            </div>
            <div class="s-sign-up__input-wrapper">
                <input type="text" class="s-sign-up__input" name="adres" id="adres" required
                >
                <label class="s-sign-up__label" for="adres">Straat/huisnr.</label>
            </div>

            <div class="l-flex">
                <div class="s-sign-up__input-wrapper">
                    <input type="text" class="s-sign-up__input" name="postcode" id="postcode" required
                    >
                    <label class="s-sign-up__label" for="postcode">Postcode</label>
                </div>
                <div class="s-sign-up__input-wrapper">
                    <input type="text" class="s-sign-up__input" name="plaats" id="plaats" required
                    >
                    <label class="s-sign-up__label" for="plaats">Woonplaats</label>
                </div>
            </div>

            <div class="s-sign-up__input-wrapper">
                <input type="text" class="s-sign-up__input" name="email-adres" id="email-adres" required
                >
                <label for="email-adres" class="s-sign-up__label">E-mail adres</label>
            </div>
            <div class="s-sign-up__input-wrapper">
                <input type="text" class="s-sign-up__input" name="telefoonnummer" id="telefoonnummer" required
                >
                <label for="telefoonnummer" class="s-sign-up__label">Telefoonnummer</label>
            </div>
            <div class="s-sign-up__input-wrapper">
                <input type="text" class="s-sign-up__input" name="geboortedatum" id="geboortedatum" required
                >
                <label class="s-sign-up__label" for="geboortedatum">Geboortedatum (dd-mm-jjjj)</label>
            </div>
            <div class="s-sign-up__input-wrapper u-mb">
                <input type="text" class="s-sign-up__input" name="rijbewijsnummer" id="rijbewijsnummer" required
                >
                <label class="s-sign-up__label" for="rijbewijsnummer">Rijbewijs nummer</label>
            </div>

            <div class="c-checkbox u-mb">
              <input type="checkbox" id="agrees" name="agrees" required>
              <label for="agrees">Ik ga akkoord met de <a class="c-link --green" href="/voorwaarden" target="_blank">Voorwaarden</a> (opent in een nieuwe tab)</label>
            </div>

            <div class="c-checkbox u-mb">
              <input type="checkbox" id="nieuwsbrief-opt-in" name="nieuwsbrief-opt-in">
              <label for="nieuwsbrief-opt-in">Ja, stuur mij ook de nieuwsbrief</label>
            </div>

            <button type="submit" class="c-button --full-width --cta js-sign-up-submit">Aanmelden</button>
        </form>
    </div>
    <div class="s-sign-up__success js-sign-up-success" style="display: none">
        <p class="c-paragraph u-mb"><b>Bedankt voor je aanmelding!</b></p>
        <p class="c-paragraph">Je ontvangt binnen één werkdag een mail met een uitnodiging om onze app te downloaden. Daarna kun je direct de eerste rit reserveren en in de deelauto rijden!</p>
    </div>

</div>
