<div
    class="s-sign-up__overlay"
    v-show="signUpModalVisible"
    style="display: none"
    @click="signUpModalVisible = false"
></div>

<div class="s-sign-up" v-show="signUpModalVisible" style="display: none">
    <button class="s-sign-up__close" @click="signUpModalVisible = false">
        <img src="{{ site.image_path }}/icons/close.svg">
    </button>
    <h1 class="c-heading --large --green u-mb+">{{ site.data.sign_up_modal.heading }}</h1>

    <p class="c-paragraph u-mb">{{ site.data.sign_up_modal.intro-text }}</p>

    <div class="js-sign-up-form">
        <form
            action="/#signup"
            name="signup"
            id="signup"
            data-netlify="true"
            method="post"
        >
            <div class="l-flex">
                <div class="s-sign-up__input-wrapper">
                    <label for="voornaam" class="s-sign-up__label">voornaam</label>
                    <input
                        type="text"
                        class="s-sign-up__input"
                        name="voornaam"
                        id="voornaam"
                        required
                    >
                </div>
                <div class="s-sign-up__input-wrapper">
                    <label for="achternaam" class="s-sign-up__label">achternaam</label>
                    <input
                        type="text"
                        class="s-sign-up__input"
                        name="achternaam"
                        id="achternaam"
                        required
                    >
                </div>
            </div>

            <div class="s-sign-up__input-wrapper">
                <label for="email-adres" class="s-sign-up__label">E-mailadres</label>
                <input type="text" class="s-sign-up__input" name="email-adres" id="email-adres" required
                >
            </div>

            <div class="s-sign-up__input-wrapper">
                <label for="telefoonnummer" class="s-sign-up__label">Telefoonnummer</label>
                <input type="text" class="s-sign-up__input" name="telefoonnummer" id="telefoonnummer" required
                >
            </div>

            <div class="c-checkbox u-mb">
              <input type="checkbox" id="nieuwsbrief-opt-in" name="nieuwsbrief-opt-in">
              <label for="nieuwsbrief-opt-in">{{ site.data.sign_up_modal.newsletter }}</label>
            </div>

            <button type="submit" class="c-button --full-width --cta js-sign-up-submit">{{ site.data.sign_up_modal.button-text }}</button>
        </form>
    </div>
    <div class="s-sign-up__success js-sign-up-success" style="display: none">
        <p class="c-paragraph u-mb"><b>{{ site.data.sign_up_modal.thankyou-heading }}</b></p>
        <p class="c-paragraph">{{ site.data.sign_up_modal.thankyou-text }}</p>
    </div>

</div>
