.s-availability
    padding: 50px 0

    &__postal-code-input
        width: 175px
        margin: 0 auto 10px auto
        letter-spacing: 8.3px
        padding-left: 20px

    &__email-input
        width: 300px
        margin: 0 auto 10px auto

    &__submit
        width: 175px
