.s-app-banner
    position: relative

    &__bg
        background-size: cover
        background-position: center center
        +fill-space
        +green-filter

        +mobile
            +background-image('16-mobile.jpg')

        +tablet-desktop
            +background-image('16.jpg')

        &:before
            content: ''
            +fill-space
            background-image: linear-gradient(to top, black, rgba(black, 0.0) 40%)

    &__inner
        position: relative
        padding: 32vw 0 3vw 0
        text-align: center

        a
            opacity: 0.7
            width: 200px // app store links
            display: inline-block
            transition: opacity 0.3s ease-in-out

            &:hover
                opacity: 1

        a + a
            margin-left: 30px

    &__slogan
        color: $inverted-text-color
        font-weight: $bold
        line-height: 1.2
        max-width: 800px
        margin: 0 auto

        +mobile
            font-size: 30px

        +tablet-desktop
            font-size: 50px
