.s-compare-costs
    position: relative
    background-color: rgba($brand-color, 0.16)

    &__bg
        background-size: cover
        background-position: center center
        +fill-space

        +mobile
            +background-image('compare-costs-bg-mobile.jpg')

        +tablet-desktop
            +background-image('compare-costs-bg.jpg')

        // white
        &:before
            +fill-space
            background-color: rgba(mix(white, $brand-color, 90%), 0.8)
            content: ''

    &__overlay
        position: relative
        max-width: 663px
        margin: 0 auto
        text-align: center

        +mobile
            padding: 50px 10px

        +tablet-desktop
            padding: 50px

    &__range-slider
        &-wrapper
            display: grid
            grid-template-columns: 20px 1fr 60px
            grid-gap: 20px
            justify-content: center
            align-items: center
            max-width: 400px
            margin: 0 auto 20px auto

    &__legend
        font-size: 20px
        font-weight: $medium
        color: $slightly-muted-text-color

    &__distance
        p
            span
                font-size: 30px
                color: $brand-color

    &__table
        thead
            td
                padding-bottom: 20px

                &:last-child
                    color: $brand-color

        &-totals
            td
                font-size: 30px
                padding-top: 20px

