.s-hero
    position: relative

    +mobile
        height: 400px

    +tablet-desktop
        // height: 636px

    &__bg
        background-size: cover
        background-position: center center
        +fill-space
        +green-filter

        +mobile
            +background-image('13-mobile.jpg')

        +tablet-desktop
            +background-image('13.jpg')

        // Black transparent gradient from left top to bottom right
        &:before
            content: ''
            +fill-space
            background-image: linear-gradient(-225deg, black, rgba(black, 0.0) 42%)

        // Green filter
        &:after
            content: ''
            +fill-space
            background-color: rgba($brand-color, 0.2)

    &__inner
        position: relative


        +mobile
            padding-top: 50px

        +tablet-desktop
            padding: 160px 0 400px

    &__heading
        color: $brand-color
        color: white
        text-shadow: 0 0 20px black

        +mobile
            font-size: 33px
            margin-bottom: 10px

        +tablet-desktop
            font-size: 70px

    &__sub-heading
        color: white
        font-weight: $medium
        text-shadow: 0 0 10px black
        margin-bottom: 40px

        +mobile
            font-size: 20px
            padding-right: 80px

        +tablet-desktop
            font-size: 27px
