.s-hero
    position: relative

    +mobile
        height: 400px

    +tablet-desktop
        // height: 636px

    &__bg
        background-size: cover
        background-position: center top
        +fill-space

        +mobile
            +background-image('hero-bg2-mobile.jpg')

        +tablet-desktop
            +background-image('hero-bg2.jpg')

        &:after
            content: ''
            +fill-space
            background-color: rgba(mix(white, $brand-color, 50%), 0.4)

    &__inner
        position: relative


        +mobile
            padding-top: 50px

        +tablet-desktop
            padding: 160px 0 260px

    &__heading
        color: $brand-color
        text-shadow: 0 0 20px white

        +mobile
            font-size: 32px
            margin-bottom: 10px

        +tablet-desktop
            font-size: 70px

    &__sub-heading
        color: $main-text-color
        font-weight: $medium
        text-shadow: 0 0 10px white
        margin-bottom: 40px

        +mobile
            font-size: 20px
            padding-right: 80px

        +tablet-desktop
            font-size: 27px
