.s-header
    background-color: rgba(white, 0.95)
    box-shadow: 0 2px 4px rgba(#000, 0.11)
    +z-index(header)

    +mobile
        position: relative

    +tablet-desktop
        position: fixed
        width: 100%

    &__inner
        justify-content: space-between
        display: flex
        align-items: center

        +desktop
            height: 70px

    &__logo
        margin-top: 9px // actual vertical alignment

        img
            +mobile
                width: 200px

            +tablet-desktop
                width: 250px

    &__mobile-nav-trigger
        img
            width: 30px
            display: block

        +desktop
            display: none

    &__nav
        +mobile-tablet
            position: fixed
            transform: translateX(100%)
            top: 0
            right: 0
            background-color: $brand-color
            padding: 30px 0
            text-align: center
            width: 100%
            transition: transform 0.3s ease-out
            height: 100%

            &.\--active
                transform: translateX(0)

        &-close
            position: absolute
            top: -20px
            right: 0
            padding: 20px

        &-link
            color: $brand-color
            font-weight: $medium
            font-size: 16px
            text-transform: uppercase
            transition: color $animation-delay ease-in-out

            +mobile-tablet
                display: block
                color: $inverted-text-color
                padding: 15px 40px
                border-bottom: 1px solid white

            +desktop
                margin-right: 20px

            &:hover
                color: darken($brand-color, 20%)

            &.\--current
                color: $main-text-color

        button
            +mobile-tablet
                margin-top: 20px
