.s-how-it-works-page
    $step-size: 60px

    padding: 50px 0
    text-align: center

    &__hero
        // height: 50vw
        position: relative

        +mobile
            padding: 80vw 0 2vw 0
        +tablet-desktop
            padding: 36vw 0 4vw 0

        &-bg
            +fill-space
            background-size: cover
            background-position: center center
            +green-filter

            +mobile
                +background-image('/38-mobile.jpg')

            +tablet-desktop
                +background-image('/38.jpg')

            // Black transparent gradient from left top to bottom right
            &:before
                content: ''
                +fill-space
                background-image: linear-gradient(to top, black, rgba(black, 0.0) 50%)


        &-text
            position: relative

    &__step
        padding-bottom: 20px
        margin-bottom: 30px
        position: relative

    &__title
        text-transform: uppercase
        color: $main-text-color
        font-size: 24px
        position: relative
        margin-bottom: 10px

    &__grid
        display: grid
        align-items: center

        +mobile
            grid-template-columns: 1fr

        +tablet-desktop
            grid-template-columns: $step-size 1fr
            grid-gap: 40px

    span
        background-color: $brand-color
        color: $inverted-text-color
        width: $step-size
        height: $step-size
        display: inline-block
        border-radius: 100%
        font-size: 40px
        font-weight: $bold
        line-height: $step-size
        text-align: center

    img
        height: 70px
        margin-bottom: 10px
