.s-hero
    position: relative

    +mobile
        height: 400px

    +tablet-desktop
        height: 55vw

    &__slider
        opacity: 0
        position: absolute
        width: 100%
        +fill-space
        transition: opacity 2s ease-in

        &.\--active
            opacity: 1

        &.\--one
            .s-hero__bg
                +mobile
                    +background-image('13-mobile.jpg')

                    &:before
                        content: ''
                        +fill-space
                        background-color: rgba(black, 0.3)

                +tablet-desktop
                    +background-image('16w.jpg')

            .s-hero__inner
                +mobile
                    height: 100%

                +tablet-desktop
                    padding: 8vw 0 23vw

        &.\--two
            .s-hero__bg
                +mobile
                    +background-image('13-mobile.jpg')

                +tablet-desktop
                    +background-image('37s.jpg')

            .s-hero__inner
                +mobile
                    height: 100%

                +tablet-desktop
                    // text-align: right
                    padding: 8vw 0 23vw

        &.\--three
            .s-hero__bg
                +mobile
                    +background-image('13-mobile.jpg')


                +tablet-desktop
                    +background-image('16.jpg')

            .s-hero__inner
                +mobile
                    height: 100%

                +tablet-desktop
                    padding: 8vw 0 23vw

        &-controls
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)


    &__bg
        background-size: cover
        background-position: center center
        +fill-space
        +green-filter


    &__inner
        position: relative

    &__heading
        color: $brand-color
        color: white
        text-shadow: 0 0 20px black

        +mobile
            font-size: 33px
            margin-bottom: 10px
            padding-top: 20px

        +tablet-desktop
            font-size: 70px

    &__sub-heading
        color: white
        font-weight: $medium
        text-shadow: 0 0 10px black
        margin-bottom: 40px

        +mobile
            font-size: 20px
            padding-right: 80px

        +tablet-desktop
            font-size: 27px
