.s-header
    background-color: rgba(white, 0.95)
    box-shadow: 0 2px 4px rgba(#000, 0.11)

    +tablet-desktop
        +z-index(header)
        position: fixed
        width: 100%

    &__inner
        +desktop
            height: 70px
            display: flex
            justify-content: space-between
            align-items: center

    &__logo
        margin-top: 9px // actual vertical alignment

        img
            +mobile
                width: 200px

            +tablet-desktop
                width: 250px

    &__nav
        +mobile-tablet
            position: absolute
            // transform: translateX(100%)

        &-link
            color: $brand-color
            font-weight: $medium
            font-size: 18px
            text-transform: uppercase
            margin-right: 20px
            transition: color $animation-delay ease-in-out

            &:hover
                color: darken($brand-color, 20%)
