.s-our-cars-page
    padding: 50px 0
    // max-width: 750px
    // margin: 0 auto

    &__grid
        display: grid
        margin-bottom: 20px

        +mobile
            grid-template-columns: 1fr
            grid-gap: 20px

        +tablet-desktop
            grid-gap: 40px
            grid-template-columns: 1fr 1fr

    &__image
        align-self: center

    &__text
        text-align: center

    &__price-per-hour
        color: $brand-color
        font-size: 30px
        font-weight: $bold

    &__price-per-day
        font-size: 20px
        color: $slightly-muted-text-color
