.s-our-cars-page
    padding: 50px 0
    max-width: 750px
    margin: 0 auto

    &__grid
        display: grid
        box-shadow: 0 5px 10px rgba(black, 0.05)
        margin-bottom: 20px
        background-color: $main-bg-color
        padding: 20px 40px

        +mobile
            grid-template-columns: 1fr
            grid-gap: 20px

        +tablet-desktop
            grid-gap: 40px
            grid-template-columns: 1fr 1fr

    &__image
        align-self: center

    &__text
        +mobile
            text-align: center

        +tablet-desktop
            text-align: right

    &__price-per-hour
        color: $brand-color
        font-size: 30px
        // text-align: right
        font-weight: $bold

    &__price-per-day
        font-size: 20px
        color: $slightly-muted-text-color
