.s-our-cars
    padding: 50px 0

    &__grid
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: 40px
        align-items: center
        justify-content: center

    &__car-image
        min-height: 135px
        display: flex
        align-items: center
        margin-bottom: 20px
