.s-rates
    padding: 50px 0
    max-width: 750px
    margin: 0 auto

    &__grid
        display: grid
        align-items: center
        grid-gap: 10px

        +mobile
            grid-template-columns: 1fr 1fr 1fr 1fr

        +tablet-desktop
            grid-template-columns: 1fr 120px 120px 120px

        &.\--with-border
            border-bottom: 1px solid rgba(black, 0.1)
            padding-bottom: 20px
            margin-bottom: 20px

    &__label
        font-weight: $bold
        color: $main-text-color
        justify-self: center
        position: relative

        +mobile
            font-size: 16px

        +tablet-desktop
            font-size: 20px

        span
            color: $brand-color
            position: absolute

            +mobile
                left: -17px

            +tablet-desktop
                left: -40px

    &__price
        color: $brand-color
        justify-self: center
        white-space: nowrap

        +mobile
            font-size: 18px

        +tablet-desktop
            font-size: 24px
