---
layout: default
title: home
title_tag: Samen slim rijden - Elektrische auto's voor jou en je buurt - EasyDriving
description_tag: >-
  EasyDriving is een lokaal initiatief dat het delen van elektrische auto’s in
  besloten kring stimuleert. Buurtbewoners kunnen gemakkelijk en voordelig
  gezamenlijk gebruik maken van een van de deelauto’s die in verschillende
  wijken en buurten van Noord-Nederland verspreid staan.
permalink: /
meta_image: https://easydriving.eu/dist/img/13.jpg
---

{% include home/hero.html %}

{% include home/video.html %}

{% include home/our-cars.html %}

{% include home/usps.html %}

{% include home/app-banner.html %}

{% include home/availability.html %}

{% include home/how-it-works.html %}

{% include home/compare-costs.html %}
