---
layout: default
title: home
title_tag: Samen slim rijden - Elektrische auto's voor jou en je buurt - EasyDriving
permalink: /
usps_1_image: /uploads/usp1.svg
usps_1_heading: Beter voor het milieu
usps_1_text: >-
  Elektrische auto’s zijn energie-neutraal bij het rijden. Bovendien werkt
  EasyDriving samen met lokale energie-collectieven waardoor de opgewekte
  energie 100% groen is.
usps_2_image: /uploads/usp2.svg
usps_2_heading: Goedkoper
usps_2_text: >-
  Voor huishoudens die hun (tweede) auto niet vaak gebruiken is EasyDriving veel
  goedkoper dan het hebben van een eigen auto. Zie onze <a
  href="#kosten-vergelijker">kostenvergelijker</a>.
usps_button_text: Lees verder
how_it_works__heading: Hoe werkt het?
how_it_works__title1: Meld je aan!
how_it_works__text1: >-
  Meld je aan en je ontvangt binnen één werkdag een uitnodiging voor uw
  persoonlijke account van OnzeAuto. Daarna kan de app gedownload en meteen in
  gebruik genomen worden.
how_it_works__title2: Reserveer een auto
how_it_works__text2: >-
  Via onze mobiele app kun je vantevoren bij jou in de buurt een auto
  reserveren. Reserveer per uur of per dag. Alles kan.
how_it_works__title3: Open de auto met de app
how_it_works__text3: >-
  Met de app kunnen gebruikers via een smartphone de auto openen.
  Sleuteloverdracht is dus niet nodig. De verrekening volgt achteraf. Gemak
  staat voorop, dus geen gedoe.
how_it_works__title4: Rij met de auto!
how_it_works__text4: >-
  Als je klaar bent kun je de auto weer terugbrengen naar de vaste parkeerplek
  met laadpaal. Laad de auto ook weer op voor de volgende gebruiker.
how_it_works_button_text: Meer informatie
---

{% include home/hero.html %}

{% include home/our-cars.html %}

{% include home/usps.html %}

{% include home/how-it-works.html %}

{% include home/availability.html %}

{% include home/app-banner.html %}
