---
layout: default
title_tag: Samen slim rijden - Elektrische auto's voor jou en je buurt - EasyDriving
description_tag: EasyDriving
permalink: /onze-autos
---

<div class="s-our-cars-page">
    <div class="l-wrapper">
        <h1 class="c-heading --large --green u-align-center u-mb+">Onze auto's</h1>
        <h2 class="c-heading --medium u-align-center u-mb">Een passende auto voor elke rit</h2>
        <p class="c-paragraph u-align-center u-mb">
            Er zijn verschillende typen elektrische auto's beschikbaar. Deze auto's kunnen per uur of per dag worden gereserveerd via de app. Voor iedere rit kan de meest geschikte auto worden gereserveerd: voor een afspraak of familiebezoekje in de buurt kies je bijvoorbeeld de Nissan Leaf en voor de langere afstanden kan de Hyundai Kona worden gebruikt. Als je echt voor luxe wilt gaan, dan reserveer je één van de Tesla's.
        </p>

        <div class="u-align-center u-mb+">
            <button class="c-button --cta" @click="signUpModalVisible = true">{{ site.data.hero.button_text }}</button>
        </div>

        <div class="u-mb++">
            {% for car in site.data.cars.cars %}
                <div class="c-card s-our-cars-page__grid">
                    <div class="s-our-cars-page__image">
                        <img src="{{ car.image }}">
                    </div>
                    <div class="s-our-cars-page__text">
                        <h3 class="c-heading --medium --brand-color u-mb-">{{ car.title }}</h3>
                        <p class="c-paragraph --small u-mb">
                            Actieradius: {{ car.actieradius }} km<br>
                            Zitplaatsen: {{ car.seats }}<br>
                            {% if car.price_per_km != 0 %}
                                Stroomkosten: {{ car.price_per_km }} per km
                            {% endif %}
                        </p>
                        <p class="s-our-cars-page__price-per-hour u-mb-">{{ car.price_per_hour }} p/uur</p>
                        <p class="s-our-cars-page__price-per-day">of {{ car.price_per_day }} p/dag</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="u-align-center u-mb">
            <button class="c-button --cta" @click="signUpModalVisible = true">{{ site.data.hero.button_text }}</button>
        </div>
    </div>
</div>
