---
layout: default
title_tag: Prijzen - Elektrische auto's voor jou en je buurt - EasyDriving
description_tag: EasyDriving
permalink: /prijzen
---
<div class="s-rates">
    <div class="l-wrapper">
        <h1 class="c-heading --large --green u-align-center u-mb+">Prijzen</h1>

        <div class="c-card">
            <h2 class="c-heading --medium u-align-center u-mb+">Wat kost EasyDriving?</h2>
            <div class="s-rates__grid --with-border">
                <div></div>
                <p class="s-rates__label">Per maand</p>
                <div></div>
                <div></div>

                <p class="c-paragraph">Lidmaatschap</p>
                <p class="s-rates__price">€5</p>
                <div></div>
                <div></div>
            </div>
            <div class="s-rates__grid --with-border">
                <div></div>
                <p class="s-rates__label">Per uur</p>
                <p class="s-rates__label">Per dag</p>
                <p class="s-rates__label">Per km</p>

                {% for car in site.data.cars.cars %}
                    <p class="c-paragraph u-mb-">{{ car.title }}</p>
                    <p class="s-rates__price">{{ car.price_per_hour }}</p>
                    <p class="s-rates__price">{{ car.price_per_day }}</p>
                    <p class="s-rates__price">{{ car.price_per_km }}</p>
                {% endfor %}
            </div>

            <ul class="c-list u-mb+">
                <li>Rijd je meer dan 200 kilometer per dag, dan geldt er voor elke extra gereden kilometer een vergoeding van € 0,20</li>
                <li>De kosten voor tussentijds laden onderweg komen voor eigen rekening.</li>
            </ul>


            <h2 class="c-heading --medium u-align-center u-mb">Voorbeelden</h2>

            <div class="s-rates__example --with-border">
                <div>
                    <img src="/uploads/nissan-leaf.png">
                </div>
                <div>
                    <p class="c-paragraph u-mb"><b>Naar de supermarkt</b></p>
                    <p class="c-paragraph u-mb">We reserveren de <b>Nissan Leaf</b> voor één uur, en rijden er in totaal 10 kilometer mee.</p>
                    <p class="c-paragraph">Totaalprijs voor deze rit:</p>
                    <p class="s-rates__price">€ 3,25</p>

                </div>
            </div>

            <div class="s-rates__example">
                <div>
                    <img src="/uploads/hyundai-kona.png">
                </div>
                <div>
                    <p class="c-paragraph u-mb"><b>Met een groep vrienden naar een voetbalwedstrijd</b></p>
                    <p class="c-paragraph u-mb">We reserveren de <b>Hyundai Kona</b> voor drie uur, en rijden er in totaal 50 kilometer mee.</p>
                    <p class="c-paragraph">Totaalprijs voor deze rit:</p>
                    <p class="s-rates__price">€ 16,75</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include home/compare-costs.html %}
