---
layout: default
title_tag: Onze tarieven - Elektrische auto's voor jou en je buurt - EasyDriving
description_tag: EasyDriving
permalink: /tarieven
---

<div class="s-rates">
    <div class="l-wrapper">
        <h1 class="c-heading --large --green u-align-center u-mb+">{{ site.data.rates_page.heading }}</h1>

        <div class="c-card">
            <h2 class="c-heading --medium u-align-center u-mb+">{{ site.data.rates_page.sub_heading }}</h2>
            <div class="s-rates__grid --with-border">
                <div></div>
                <p class="s-rates__label">{{ site.data.rates_page.per_month }}</p>
                <div></div>
                <div></div>

                <p class="c-paragraph">{{ site.data.rates_page.subscription }}</p>
                <p class="s-rates__price">€ {{ site.data.rates_page.subscription_costs }}</p>
                <div></div>
                <div></div>
            </div>
            <div class="s-rates__grid --with-border">
                <div></div>
                <p class="s-rates__label">{{ site.data.rates_page.per_hour }}</p>
                <p class="s-rates__label"><span>of</span> {{ site.data.rates_page.per_day }}</p>
                <p class="s-rates__label"><span>+</span> {{ site.data.rates_page.per_km }} *</p>

                {% for car in site.data.cars.cars %}
                    <p class="c-paragraph u-mb-">{{ car.title }}</p>
                    <p class="s-rates__price">€ {{ car.price_per_hour_label }}</p>
                    <p class="s-rates__price">€ {{ car.price_per_day_label }}</p>
                    <p class="s-rates__price">€ {{ car.price_per_km | replace: ".", "," }}</p>
                {% endfor %}
            </div>

            <div class="u-markdown">
                {{ site.data.rates_page.specs | markdownify }}
            </div>

            <p class="c-paragraph --small">{{ site.data.rates_page.disclaimer }}</p>
        </div>

    </div>
</div>

<div class="s-ride-tool">
    <div class="l-wrapper">
        <h2 class="c-heading --large --green u-align-center u-mb+">{{ site.data.rates_page.ride_costs_tool_heading }}</h2>
        {% for car in site.data.cars.cars limit:1 %}
            <ride-tool :price-per-km-prop="{{ car.price_per_km }}" :price-per-hour-prop="{{ car.price_per_hour }}">
                <input
                    class="s-ride-tool__radio"
                    type="radio"
                    name="car"
                    id="{{ car.title | replace: " ", "" }}"
                    value="{{ car.title | replace: " ", "" }}"
                    {% if car.id == 1 %} checked {% endif %}
                >
                <label
                    class="s-ride-tool__radio-label"
                    for="{{ car.title | replace: " ", "" }}"
                >
                    <img src="{{ car.image }}">
                    {{ car.title }}
                </label>
            </ride-tool>
        {% endfor %}
    </div>
</div>

{% include home/compare-costs.html %}
