<!DOCTYPE html>
<html lang="nl">

    {% include head.html %}

    <body>
        <div id="vue">
            {% include sign-up-modal.html %}

            <header>
                {% include header.html %}
            </header>

            <main class="c-content">
                <div class="s-news">
                    <div class="l-wrapper">
                        <a href="/nieuws" class="s-news__back-link u-mb+">Terug naar het overzicht</a>
                        <div class="s-news__post">
                            <p class="s-news__category">{{ page.category }}</p>
                            <p class="s-news__date">{{ page.friendly_date }}</p>
                            <h2 class="c-heading --medium u-mb">{{ page.title }}</h2>

                            {% if post.image %}
                                <img class="u-mb" src="{{ page.image }}" alt="{{ page.title }}">
                            {% endif %}

                            <p class="c-paragraph u-mb">{{ page.intro }}</p>

                            {{ content | replace: "<p>", "<p class='c-paragraph u-mb'>" | replace: "<a ", "<a target='_blank'" }}
                        </div>
                        <a href="/nieuws" class="s-news__back-link">Terug naar het overzicht</a>
                    </div>
                </div>
            </main>

            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>

</html>
