<!DOCTYPE html>
<html class="{{ page.url | replace: "/", "" }}" lang="nl">

    {% include head.html %}

    <body>
        <div id="vue">
            <header>
                {% include header.html %}
            </header>

            <main class="c-content">
                <div class="s-news-overview">
                    <div class="l-wrapper">
                        <div class="s-news-overview__post">
                            <p class="s-news-overview__category">{{ page.category }}</p>
                            <p class="s-news-overview__date">{{ page.friendly_date }}</p>
                            <h2 class="c-heading --large --green u-mb+">{{ page.title }}</h2>

                            {{ content | replace: "<p>", "<p class='c-paragraph u-mb'>" }}
                        </div>
                    </div>
                </div>
            </main>

            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body>

</html>
