<div style="display: none">
    <form
        action="/"
        name="availability-check-signup"
        id="availability-check-signup"
        data-netlify="true"
        method="post"
    >
        <label class="c-label u-mb-">{{ this.emailAddress }}</label>
        <input type="email" class="s-availability__email-input c-input" required>
        <label class="c-label u-mb-">{{ this.formQuestion }}</label>
        <input type="text" class="s-availability__postal-code-input c-input" maxlength="7">
        <button type="submit" class="c-button --cta">{{ this.negativeFormButtonText }}</button>
    </form>
</div>

<availability-widget
    active-postal-codes="{{ site.data.settings.active_postal_codes }}"
    heading="{{ site.data.availability.heading }}"
    form-question="{{ site.data.availability.form_question }}"
    form-submit-text="{{ site.data.availability.form_submit_text }}"
    negative-result-text="{{ site.data.availability.negative_result_text }}"
    email-address="{{ site.data.availability.email_address }}"
    negative-form-button-text="{{ site.data.availability.negative_form_button_text }}"
    positive-result-text="{{ site.data.availability.positive_result_text }}"
    positive-result-button-text="{{ site.data.hero.button_text }}"
></availability-widget>


