<div class="s-availability" data-active-postal-codes="{{ site.data.settings.active_postal_codes }}">
    <div class="l-wrapper u-align-center">
    <h2 class="c-heading --large u-mb+">{{ site.data.availability.heading }}</h2>
        <div>
            <form action="/" >
                <label class="c-label u-mb-">{{ site.data.availability.form_question }}</label>
                <input type="text" class="s-availability__postal-code-input c-input">
                <button type="submit" class="s-availability__submit c-button --cta">{{ site.data.availability.form_submit_text }}</button>
            </form>
        </div>
        <div style="display: none">
            <p class="c-paragraph u-mb">{{ site.data.availability.negative_result_text }}</p>

            <form>
                <label class="c-label u-mb-">{{ site.data.availability.email_address }}</label>
                <input type="email" class="s-availability__email-input c-input" required>
                <label class="c-label u-mb-">{{ site.data.availability.form_question }}</label>
                <input type="text" class="s-availability__postal-code-input c-input" value="9613 AZ" maxlength="7">
                <button type="submit" class="c-button --cta">{{ site.data.availability.negative_form_button_text }}</button>
            </form>

        </div>
        <div style="display: none">
            <p class="c-paragraph u-mb">{{ site.data.availability.positive_result_text }}</p>
            <a href="#" class="c-button --cta">{{ site.data.hero.button_text }}</a>
        </div>
    </div>
</div>
