<div class="s-availability" data-active-postal-codes="{{ site.data.settings.active_postal_codes }}">
    <div class="l-wrapper u-align-center">
    <h2 class="c-heading --large u-mb+">Is EasyDriving al beschikbaar in jouw buurt?</h2>
        <div>
            <form action="/" >
                <label class="c-label u-mb-">Wat is je postcode?</label>
                <input type="text" class="s-availability__postal-code-input c-input">
                <button type="submit" class="s-availability__submit c-button --cta">Versturen</button>
            </form>
        </div>
        <div style="display: none">
            <p class="c-paragraph u-mb">Helaas, EasyDriving is nog niet in uw buurt beschikbaar. Vul hier uw e-mail adres in als u op de hoogte wilt worden gehouden wanneer we in uw buurt van start gaan!</p>

            <form>
                <label class="c-label u-mb-">E-mail adres</label>
                <input type="email" class="s-availability__email-input c-input" required>
                <label class="c-label u-mb-">Wat is je postcode?</label>
                <input type="text" class="s-availability__postal-code-input c-input" value="9613 AZ" maxlength="7">
                <button type="submit" class="c-button --cta">Hou mij op de hoogte</button>
            </form>

        </div>
        <div style="display: none">
            <p class="c-paragraph u-mb">Goed nieuws! EasyDriving is in uw buurt beschikbaar!</p>
            <a href="#" class="c-button --cta">{{ page.hero_button_text }}</a>
        </div>
    </div>
</div>
