<div class="s-hero">
    <div class="s-hero__bg"></div>
    <div class="s-hero__inner">
        <div class="l-wrapper">
            <h1 class="s-hero__heading">{{ site.data.hero.heading }}</h1>
            <h2 class="s-hero__sub-heading">{{ site.data.hero.subheading }}</h2>
            <button class="c-button --cta" @click="signUpModalVisible = true">{{ site.data.hero.button_text }}</button>
        </div>

        <div class="s-partners-bar">
            <div class="l-wrapper">
                <div class="s-partners-bar__inner">
                    <h3 class="s-partners-bar__heading">Onze partners:</h3>
                    <img class="s-partners-bar__idw-logo" src="{{ site.image_path }}/partners/K&E_IDW_logo_liggend.svg">
                    <img src="{{ site.image_path }}/partners/onzeauto.svg">
                </div>
            </div>
        </div>

    </div>
</div>
