<div class="s-how-it-works">
    <div class="l-wrapper">
        <h2 class="c-heading --large --green u-align-center u-mb+">{{ site.data.how_it_works.heading }}</h2>
        <div class="s-how-it-works__grid u-mb+">
            <div>
                <div class="s-how-it-works__number">1</div>
                <div class="s-how-it-works__heading">{{ site.data.how_it_works.title1 }}</div>
                <div class="c-paragraph">{{ site.data.how_it_works.text1 }}</div>
            </div>
            <div>
                <div class="s-how-it-works__number">2</div>
                <div class="s-how-it-works__heading">{{ site.data.how_it_works.title2 }}</div>
                <div class="c-paragraph">{{ site.data.how_it_works.text2 }}</div>
            </div>
            <div>
                <div class="s-how-it-works__number">3</div>
                <div class="s-how-it-works__heading">{{ site.data.how_it_works.title3 }}</div>
                <div class="c-paragraph">{{ site.data.how_it_works.text3 }}</div>
            </div>
            <div>
                <div class="s-how-it-works__number">4</div>
                <div class="s-how-it-works__heading">{{ site.data.how_it_works.title4 }}</div>
                <div class="c-paragraph">{{ site.data.how_it_works.text4 }}</div>
            </div>
        </div>

        <div class="u-align-center">
            <a href="#" class="c-button --border u-align-center">{{ site.data.how_it_works.button_text }}</a>
        </div>
    </div>
</div>
