<div class="s-our-cars">
    <div class="l-wrapper">
        <h2 class="c-heading --large u-align-center u-mb+">{{ page.our_cars_heading }}</h2>
        <div class="s-our-cars__grid u-mb">
             <div class="s-our-cars__car-wrapper">
                <div class="s-our-cars__car-image">
                    <img src="{{ page.our_cars_car1_image }}">
                </div>
                <h3 class="c-heading --medium --brand-color u-align-center u-mb-">{{ page.our_cars_car1_title }}</h3>
                <p class="c-paragraph u-align-center">{{ page.our_cars_car1_description }}</p>
            </div>

             <div class="s-our-cars__car-wrapper">
                <div class="s-our-cars__car-image">
                    <img src="{{ page.our_cars_car2_image }}">
                </div>
                <h3 class="c-heading --medium --brand-color u-align-center u-mb-">{{ page.our_cars_car2_title }}</h3>
                <p class="c-paragraph u-align-center">{{ page.our_cars_car2_description }}</p>
            </div>

             <div class="s-our-cars__car-wrapper">
                <div class="s-our-cars__car-image">
                    <img src="{{ page.our_cars_car3_image }}">
                </div>
                <h3 class="c-heading --medium --brand-color u-align-center u-mb-">{{ page.our_cars_car3_title }}</h3>
                <p class="c-paragraph u-align-center">{{ page.our_cars_car3_description }}</p>
            </div>

             <div class="s-our-cars__car-wrapper">
                <div class="s-our-cars__car-image">
                    <img src="{{ page.our_cars_car4_image }}">
                </div>
                <h3 class="c-heading --medium --brand-color u-align-center u-mb-">{{ page.our_cars_car4_title }}</h3>
                <p class="c-paragraph u-align-center">{{ page.our_cars_car4_description }}</p>
            </div>
        </div>
        <div class="u-align-center">
            <a href="#" class="c-button --border u-align-center">{{ page.our_cars_button_text }}</a>
        </div>
    </div>
</div>
