<div class="s-our-cars">
    <div class="l-wrapper">
        <h2 class="c-heading --large --green u-align-center u-mb+">{{ site.data.our_cars.heading }}</h2>
        <div class="s-our-cars__grid u-mb">

            {% for car in site.data.cars %}
                 <div class="s-our-cars__car-wrapper">
                    <div class="s-our-cars__car-image">
                        <img src="{{ car.image }}">
                    </div>
                    <h3 class="c-heading --medium --brand-color u-align-center u-mb-">{{ car.title }}</h3>
                    <p class="c-paragraph u-align-center">{{ car.price_per_hour }} per uur<br>
                    of {{ car.price_per_day }} per dag</p>
                </div>
            {% endfor %}

        </div>
        <div class="u-align-center">
            <a href="/onze-autos" class="c-button --border u-align-center">{{ site.data.our_cars.button_text }}</a>
        </div>
    </div>
</div>
