<div class="s-usps">
    <div class="l-wrapper">
        <div class="s-usps__grid u-mb">
            <div>
                <img class="u-mb" src="{{ site.data.usps.usps_1_image }}">
                <h3 class="c-heading --medium u-mb">{{ site.data.usps.usps_1_heading }}</h3>
                <p class="c-paragraph">{{ site.data.usps.usps_1_text }}</p>
            </div>
            <div>
                <img class="u-mb" src="{{ site.data.usps.usps_2_image }}">
                <h3 class="c-heading --medium u-mb">{{ site.data.usps.usps_2_heading }}</h3>
                <p class="c-paragraph">{{ site.data.usps.usps_2_text }}</p>
            </div>
            <div>
                <img class="u-mb" src="{{ site.data.usps.usps_3_image }}">
                <h3 class="c-heading --medium u-mb">{{ site.data.usps.usps_3_heading }}</h3>
                <div class="c-paragraph u-markdown">{{ site.data.usps.usps_3_text | markdownify }}</div>
            </div>
        </div>

        <!-- <div class="u-align-center">
            <a href="#" class="c-button --border u-align-center">{{ site.data.usps.usps_button_text }}</a>
        </div> -->
    </div>
</div>
